:root {
    --maincolor: #75AFD6;
    --maintextcolor: #002F39;
    --mainbgcolor: #FFF1D4;
    --headercolor: #0077C5;
    --buttoncolor: #A5DAE0;
    --detailcolor: #F9A802;
}

nav {
    background-color: var(--maincolor);
    font-family: "brevia", sans-serif;
    color: var(--mainbgcolor);
}

h1 {
    font-family: 'Shrikhand', cursive;
    color: #0077C5;
}

.heroheading {
    color: #75AFD6;
    font-size: 3rem;
}

.card-text {
    color: white;
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: #0077C5;
}

h4 {
    font-family: "brevia", sans-serif;
    font-weight: bold;
    color: #002F39;
}

.about-portrait {
    max-width: 301px;
}

.contact-image {
    max-width: 301px;
}

p {
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--maintextcolor);
}

.p-aboutlast {
    margin-bottom: 0;
}

aside {
    background-color: var(--mainbgcolor);
}

section {
    background-color: var(--mainbgcolor);
}

form {
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--headercolor);
}

input {
    border: #A5DAE0 solid 2px;
    width: 100%;
}

.carousel-inner {
    width: 50%;
    margin-left: 25%;
}

.btn {
    background-color: var(--buttoncolor);
    color: white;
    font-weight: bold;
}

footer {
    background-color: var(--maincolor);
}

.footerp {
    font-weight: bold;
    color: white;
}

.footeremail {
    font-weight: bold;
    color: #FFF1D4;
}

.footerwebsite {
    font-weight: bold;
    color: #FFF1D4;
}

.fa-brands {
    background-color: pink;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.5rem;
    /* must customize social icons further */
}



 /* below is h2, h3 and p info */
 /* font-family: "brevia", sans-serif;
font-weight: 300;
font-style: normal; */
/* font-family: "brevia", sans-serif;
font-weight: 400;
font-style: normal; */